
@{
    ViewBag.Title = "Index";
}



<div class="test">
    <h1>Her kan du bestille dit bord</h1>
    <hr />
    <a class="form-control btn-success" href="BestilBord/Step1">Bestil et bord</a>
</div>
        

